* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.header {
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 25px;
    border-bottom: 2px solid black;;
}

.content {
    height: 100vh;
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.square {
    width: 70px;
    height: 70px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 15px;
}