* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding: 25px;
    border-bottom: 2px solid black;;
}

.content {
    height: 100vh;
    background-color:rgb(196, 242, 244);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.square {
    width: 70px;
    height: 70px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 10px;
    border-color: inherit;
}

.correct {
    background-color: darkgreen;
    color: white;
}

.close {
    background-color:  goldenrod;
    color: white;
}

.wrong {
    background-color: #888;
    color: white;
}

.invalid {
    animation: flash 1s;
}

@keyframes flash {
    5%{
        border-color: crimson;
    }
    100%{
        border-color: #ccc;
    }
}

.info-bar {
    background-color: rgb(196, 242, 244);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.spiral {
    font-size: 40px;
    animation: spin 1.5s linear infinite;
}

.hidden {
    visibility: hidden;
}
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}

.winner {
    animation: rainbow 4s infinite linear;
}

@keyframes rainbow {
    100%,
    0% {
      border-color: rgb(255, 0, 0);
    }
    8% {
      border-color: rgb(255, 127, 0);
    }
    16% {
      border-color: rgb(255, 255, 0);
    }
    25% {
      border-color: rgb(127, 255, 0);
    }
    33% {
      border-color: rgb(0, 255, 0);
    }
    41% {
      border-color: rgb(0, 255, 127);
    }
    50% {
      border-color: rgb(0, 255, 255);
    }
    58% {
      border-color: rgb(0, 127, 255);
    }
    66% {
      border-color: rgb(0, 0, 255);
    }
    75% {
      border-color: rgb(127, 0, 255);
    }
    83% {
      border-color: rgb(255, 0, 255);
    }
    91% {
      border-color: rgb(255, 0, 127);
    }
  }